* {
    box-sizing: border-box;
  }

  body {
    background-image: url(../images/cute-abstract-background-in-pastel-colors-vector.jpg) !important;
    background-size: cover;
  }

  footer {
background-color: bisque;
  }