* {
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
    background-image: url(../images/backgroundTest.jpg);
    background-position: center;
    background-repeat: no-repeat;

}