* {
  box-sizing: border-box;
} 

/*Layout of the page*/
section{
  display: flex;
}

body {
  background-image: url(../images/cute-abstract-background-in-pastel-colors-vector.jpg);
  background-size: cover;
}

/* My Header and Picture Styling*/
header {
  text-align: center;
  padding: 0%;
  border-color: whitesmoke;
  border-radius: 0%;
  border-style:dashed;
  border-width: 0.2em;
  font-size: 0.8vw;
}
#profilePicture {
  width: 16vw;
  border-radius: 90%;
  float: right;
  margin-top: 1em;
  margin-right: 1em;
}
h1{
  font-size: 3vw;
  font-family: sans-serif;
  text-align: left;
  padding-left: 5%;
}
#intro {
font-size: 1.6vw;
padding-left: 5%;
text-align:left;
list-style-type: none;
}


/* Horizontal Navigational Menu Styling*/
menu {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5vw;
  padding-right: 12%;
  padding-left: 8%;
  background-color: gainsboro;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}
a {
  color: navy;
}

/*Personal Information Styling*/
#sidebar {
  width: 25vw;
  padding-right: 3%;
  color:navy;
  font-size: 1.3vw;
  display: flex;
  flex-direction: column;
}

#sidebar li {
  list-style-type: none;
  width: 50vw;
}
#sidebar h2 {
  margin-left: 10%;
}
#contactInfo {
  font-weight: bold;
}
#interests {
  padding-left: 0%;
}

/*Education and Experience Styling*/
#content {
  width: 72.5vw;
  height: 100%;
  font-family:sans-serif;
  font-size: 1.3vw;
  padding-left: 5%;
  color: navy;
}
h2{
  text-decoration: underline;
  text-decoration-color: navy;
}
.references {
  list-style-type: none;
  padding-left: 0%;
}

#skills {
  margin-left: 0%;
  padding-left: 0%;
}
#content  {
  display:flex;
  flex-direction: column;
  justify-content: space-around;

}

/* My Footer Styling*/
footer  {
  padding-top:0.5%;
  background-color:whitesmoke;
  text-align: center;
  color: black;
  font-size: 2vw;
}
#scratch  {
  border-radius: 100%;
  width: 15vw ;
  margin-bottom: 1.5%;
}
